*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse workspace data #
.metadata
/Exercises/servlet_basics2/samples_netbeans/Myhello2/build/
/Exercises/servlet_basics2/samples_netbeans/Myhello2/nbproject/private/